/* Inter font */
body,
html,
button,
input,
select,
textarea,
.ui-widget,
.popover,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

a {
  color: #636363;
}

a:hover {
  color: #7c7c7c;
}

/* General icons */
.listing td.threads::before,
.listing td.attachment::before,
.listing td.flagged::before,
.listing td.status::before,
.listing td.priority::before,
#messagelist td.threads::before,
#messagelist td.attachment::before,
#messagelist td.flagged::before,
#messagelist td.status::before,
#messagelist td.priority::before,
.toolbar a.button:before,
.toolbarmenu .icon:before,
#taskmenu a:before,
.listing-info:before,
a.button.icon:before,
.popupmenu a.icon:before,
#settings-sections .listitem a:before,
.header a:before,
.popover .menu li a:before,
.listbox a:before,
.listing.iconized tr td:before,
.searchbar form:before {
  font-size: 14px !important;
  opacity: 0.75 !important;
}

/* Icons in menubars and lists */
.folderlist li a:before,
.toolbar a.button:before,
a.button.icon:before {
  font-size: 14px !important;
  opacity: 0.7 !important;
  margin-right: 4px !important;
}

/* Button icon styles */
a.btn:before,
button.btn:before {
  font-size: 14px !important;
  opacity: 0.75 !important;
}

/* Menubar icons */
#topnav .special-buttons a.button:before {
  font-size: 16px !important;
}

/* Icon positions */
.button.icon:before {
  left: 8px !important;
}

/* Folders list */
#folderlist-content {
  padding: 8px !important;
}

#folderlist-content ul.treelist li a {
  border-radius: 8px !important;
  cursor: pointer !important;
}

#folderlist-content ul.treelist li.selected>a, ul.treelist li.selected>div>a {
  background-color: #e6e6e6 !important;
}

#folderlist-content .listing li a:hover {
  background-color: #e9ebee !important;
}

/* Font-weight */
#mailboxlist .mailbox.selected {
  font-weight: 700 !important;
}

.messagelist td.subject span {
  font-size: 13px !important;
}

/* Subject font-weight */
.messagelist td.subject a {
  font-weight: 500 !important;
}

/* Subject font-weight (unread) */
.messagelist .unread td.subject a {
  font-weight: 700 !important;
}

/* Buttons */
.btn {
  appearance: none !important;
  background-color: #FAFBFC !important;
  border: 1px solid rgba(27, 31, 35, 0.15) !important;
  border-radius: 6px !important;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset !important;
  box-sizing: border-box !important;
  color: #24292E !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  list-style: none !important;
  padding: 6px 16px !important;
  position: relative !important;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1) !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
  word-wrap: break-word !important;
}

.btn:hover {
  background-color: #F3F4F6 !important;
  text-decoration: none !important;
  transition-duration: 0.1s !important;
}

.btn:disabled {
  background-color: #FAFBFC !important;
  border-color: rgba(27, 31, 35, 0.15) !important;
  color: #959DA5 !important;
  cursor: default !important;
}

.btn:active {
  background-color: #EDEFF2 !important;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset !important;
  transition: none 0s !important;
}

.btn:focus {
  outline: 1px transparent !important;
}

.btn:before {
  display: none !important;
}

.btn:-webkit-details-marker {
  display: none !important;
}

#message-header>.header img.contactphoto {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.message-wrapper {
  border: 1px solid rgba(27, 31, 35, 0.15) !important;
  border-radius: 6px !important;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset !important;
  padding: 12px !important;
}

/* Left aligned navbar */
#layout>div>.footer,
#layout>div>.header {
  justify-content: start;
}

/* Less borders */
#mailboxlist.listing li,
#mailboxlist.listing tbody td,
#layout>div>.header {
  border-bottom: none !important;
}

#mailboxlist.listing li ul {
  border-top: none !important;
}

/* Muted sidebar */
#layout-sidebar {
  background: #f4f5f5 !important;
}

/* Open in new window */
#message-subject-heading a.extwin:before {
  color: #636363 !important;
  float: none !important;
  display: inline-block !important;
  font-size: 75% !important;
  line-height: 1.5 !important;
  margin: 0 !important;
  content: "\f360" !important;
  font-family: 'Icons' !important;
}

#message-subject-heading span.inner {
  display: none !important;
}

/* Message subject preview size */
.frame-content h2 {
  font-weight: 700;
  font-size: 1.2em;
}

/* Alert warning background color */
.ui.alert.boxwarning {
  background: oklch(0.987 0.026 102.212) !important;
}

.ui.alert.boxconfirmation i.icon, .ui.alert.boxerror i.icon, .ui.alert.boxinformation i.icon, .ui.alert.boxwarning i.icon {
  font-size: 1.2em!important;
}
